@{
    var cars = ViewData["cars"] as List<Car>;
}

<h2>Список автомобилей</h2>

<table cellspacing="10" cellpadding="15">
    <tr><th>ID</th><th>Марка</th><th>Модель</th><th>Цвет</th></tr>
    @foreach (var car in cars)
    {
        <form method="post">
        <tr>
            <td>
                <input class="id" name="IDs" value="@car.Id" size="1" readonly="true">
            </td>
            <td>
                <select class="brands" name="Brands" value="@car.Brand.Id" disabled="true"><option value="@car.Brand.Id">@car.Brand.Name</option></select>
            </td>
            <td>
                <select class="models" name="Models" value="@car.Model.Id" disabled="true"><option value="@car.Model.Id">@car.Model.Name</option></select>
            </td>
            <td>
                <select class="colors" name="Colors" value="@car.Color.Id" disabled="true"><option value="@car.Color.Id">@car.Color.Name</option></select>
            </td>
            <td>
                <button class="update" type="button">
                    Изменить
                </button>
                <button class="save" type="submit" asp-controller="Update" asp-action="Post" style="display:none">
                    Сохранить
                </button>
                <button class="delete" type="submit" asp-controller="Delete" asp-action="Post">
                    Удалить
                </button>
                <button class="cancel" type="button" style="display:none">
                    Отменить
                </button>
            </td>
        </tr>
        </form>
    }
</table>
<script>
    window.onload = function () {
        console.log("Hello JWT Motherfucker");
    };
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/cascadingddlread.js"></script>