@{
    var cars = ViewData["cars"] as List<Car>;
}

<h2>Список автомобилей</h2>

<table cellspacing="10" cellpadding="15">
    <tr><th>ID</th><th>Марка</th><th>Модель</th><th>Цвет</th></tr>
    @foreach (var car in cars)
    {
        <tr>
            <td>@car.Id</td>
            <td>
                <select id="brand" name="Brands" value="@car.Brand.Id" disabled="true"><option value="@car.Brand.Id">@car.Brand.Name</option></select>
            </td>
            <td>
                <select id="model" name="Models" value="@car.Model.Id" disabled="true"><option value="@car.Model.Id">@car.Model.Name</option></select>
            </td>
            <td>
                <select id="color" name="Colors" value="@car.Color.Id" disabled="true"><option value="@car.Color.Id">@car.Color.Name</option></select>
            </td>
            <td>
                <form method="post">
                    <button id="update" type="submit">
                        Изменить
                    </button>
                    <button type="submit">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/cascadingddlread.js"></script>